<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Merger/Render</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
</head>
<body>
    
    <div id="videos">
    <!--provides a window to Creatomate, a service where videos can be uploaded to a provided template-->
    <iframe src="https://creatomate.com/forms/27cde3b5-8c0f-48b1-bc97-0f073a221e74"></iframe>
    </div>
</body>
</html>